@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  max-width: 100% !important;
}

/* Add these to your global CSS */
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Smooth transitions */
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}




@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertCollectionVF-Trial.woff2') format('woff2-variations'),
       url('/fonts/RoobertCollectionVF-Trial.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}
